<div class="row mt-4">
    <div class="COL-12">
        <div class="row row-cols-md-4 g-4 ms-4">
            @for (producto of dataProductos; track $index) {
            <div class="col card m-1">
                <div class="card-body me-5 text-start">
                    <img
                        [src]="producto.imagen"
                        width="250"
                        class="mb-1"
                        alt=""
                    />
                    <h5 class="card-title titulo">{{ producto.producto }}</h5>
                    <p class="card-text">${{ producto.precio }}</p>
                    <button
                        class="btn btn-primary"
                        data-bs-target="#exampleModalToggle"
                        data-bs-toggle="modal"
                    >
                        Editar
                    </button>
                </div>
            </div>
            }
        </div>
        <button
            class="btn btn-primary ms-5 mt-2"
            data-bs-target="#exampleModalToggle"
            data-bs-toggle="modal"
        >
            AGREGAR
        </button>
    </div>
</div>
<div
    class="modal fade"
    id="exampleModalToggle"
    aria-hidden="true"
    aria-labelledby="exampleModalToggleLabel"
    tabindex="-1"
>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content ms">
            <div class="modal-header">
                <h1 class="modal-title fs-4" id="exampleModalToggleLabel">
                    AGREGA TU PRODUCTO
                </h1>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <app-formulario class="productos"></app-formulario>
            </div>
        </div>
    </div>
</div>
