<nav class="navbar ">
        <a class="navbar-brand ms-3" href="#">
            <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Bootstrap" width="30" height="24">
        </a>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <button type="button" class="btn btn-success">Registrate</button>
            </li>
            <li class="nav-item me-3">
                <a class="nav-link text-dark" href="#">Inicia sesion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">Contactanos</a>
            </li>
        </ul>
</nav>
