body{
    overflow-x: hidden;
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,0.5439425770308124) 0%, rgba(148,187,233,0.4318977591036415) 100%);
}

.texto1{
    font-weight: bold;
}

.columna-menu{
    height: 82vh;
}

.img1{
    width: 200px;
}

.slider1{
    width: 100%;
}

.iconos1{
    width: 100px;
    height: 100px;
}

.item1{
    font-size: 4rem;
}

.boton1{
    border: none;
    background-color: transparent;
}
article {
    height: 130vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #eeaeca;
    background: radial-gradient(circle, rgba(238,174,202,0.5439425770308124) 0%, rgba(148,187,233,0.4318977591036415) 100%);

}

.caja {

    margin-top: 45px;
    margin-bottom: 80px;
    border: 1px solid #bcbcbc;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px;
    background-color: #8d88b7d2;
    width: 493px;
    height: 610px;
    padding-right: 30px;
    padding-left:15px;
    padding-bottom: 44px;
    border-radius: 10px;

}


.boton-user{
    display: flex;
    justify-content: space-evenly;
        border-bottom: #fff6f6;
        border-radius: 5px;
        border: 1px solid #e6d9d9;
        box-shadow: rgba(255, 253, 253, 0.2);
        height:30px;
        width :444px;
    }


.adm{
color:#7a7676;
}

.cash{
    color:#7a7676;
}




.bkgt2{
  background: #acb6e5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.tc{
  background: #acb6e5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.placeholder input{
border:none;
border-bottom: 1px solid rgb(24, 25, 26);
background-color: solid hsl(40, 100%, 97%);
border-top-right-radius: 0px;

padding:10px;
width: 317px;


}



.linea{
display:flex;
justify-content: center;
width: 442px;
background:#1d1a1a;
margin-bottom: 20px;
margin-top: 20px;
height: 1px;
}


.linea2{
    display:flex;
    justify-content: center;
    width: 442px;
    background:#161515;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 0.5px;
    }





.nombres {

    height: 35px;
    margin-bottom: 15px;

}

.correo{

    width: 442px;

}




.fecha{
height: 50px;
width: 410px;
margin-bottom:20px ;
font-size: medium;
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
border-radius: 10px;
border-color: #8d1010;

}



.place1::placeholder{
color: rgb(136, 137, 144);

}

.botonf{

    width: 100px;
background-color: rgb(254, 255, 254);
border-radius: 5px;
animation:heartBeat;
animation-duration:10s;
animation-delay: 3ms;

border-color:#c0bbbbbc;
border-bottom-style:solid;
background: rgb(170,11,245);
    background: linear-gradient(90deg, rgba(170,11,245,0.2637429971988795) 43%, rgba(16,77,236,0.14049369747899154)61%);

}
.contraseña{
margin-top: 10px;
width:auto;
}



.background{

    background: #FC5C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}


.cuboflotante{
    padding-top: 0px;
    margin-left: 5px;
}

.cube-loader {
    position: relative;
  /* u can choose any size */
    width: 75px;
    height: 75px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform: rotateX(-30deg);
            transform: rotateX(-30deg);
    -webkit-animation: animate 4s linear infinite;
            animation: animate 4s linear infinite;
}

@-webkit-keyframes animate {
    0% {
    -webkit-transform: rotateX(-30deg) rotateY(0);
            transform: rotateX(-30deg) rotateY(0);
    }

    100% {
    -webkit-transform: rotateX(-30deg) rotateY(360deg);
            transform: rotateX(-30deg) rotateY(360deg);
    }
}

@keyframes animate {
    0% {
    -webkit-transform: rotateX(-30deg) rotateY(0);
            transform: rotateX(-30deg) rotateY(0);
    }

    100% {
    -webkit-transform: rotateX(-30deg) rotateY(360deg);
            transform: rotateX(-30deg) rotateY(360deg);
    }
}

.cube-loader .cube-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    /* top: 0;
    left: 0; */
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.cube-loader .cube-wrapper .cube-span {
    position: absolute;
    width: 100%;
    height: 100%;
    /* top: 0;
    left: 0; */
                                       /* width 75px / 2 = 37.5px */
    -webkit-transform: rotateY(calc(90deg * var(--i))) translateZ(37.5px);
            transform: rotateY(calc(90deg * var(--i))) translateZ(37.5px);
    background: -webkit-gradient(
      linear,
      left top, left bottom,
      from(hsl(330, 3.13%, 25.1%)),
      color-stop(5.5%, hsl(177.27, 21.71%, 32.06%)),
      color-stop(12.1%, hsl(176.67, 34.1%, 36.88%)),
      color-stop(19.6%, hsl(176.61, 42.28%, 40.7%)),
      color-stop(27.9%, hsl(176.63, 48.32%, 43.88%)),
      color-stop(36.6%, hsl(176.66, 53.07%, 46.58%)),
      color-stop(45.6%, hsl(176.7, 56.94%, 48.91%)),
      color-stop(54.6%, hsl(176.74, 62.39%, 50.91%)),
      color-stop(63.4%, hsl(176.77, 69.86%, 52.62%)),
      color-stop(71.7%, hsl(176.8, 76.78%, 54.08%)),
      color-stop(79.4%, hsl(176.83, 83.02%, 55.29%)),
      color-stop(86.2%, hsl(176.85, 88.44%, 56.28%)),
      color-stop(91.9%, hsl(176.86, 92.9%, 57.04%)),
      color-stop(96.3%, hsl(176.88, 96.24%, 57.59%)),
      color-stop(99%, hsl(176.88, 98.34%, 57.93%)),
      to(hsl(176.89, 99.07%, 58.04%))
    );
    background: linear-gradient(
      to bottom,
      hsl(330, 3.13%, 25.1%) 0%,
      hsl(177.27, 21.71%, 32.06%) 5.5%,
      hsl(176.67, 34.1%, 36.88%) 12.1%,
      hsl(176.61, 42.28%, 40.7%) 19.6%,
      hsl(176.63, 48.32%, 43.88%) 27.9%,
      hsl(176.66, 53.07%, 46.58%) 36.6%,
      hsl(176.7, 56.94%, 48.91%) 45.6%,
      hsl(176.74, 62.39%, 50.91%) 54.6%,
      hsl(176.77, 69.86%, 52.62%) 63.4%,
      hsl(176.8, 76.78%, 54.08%) 71.7%,
      hsl(176.83, 83.02%, 55.29%) 79.4%,
      hsl(176.85, 88.44%, 56.28%) 86.2%,
      hsl(176.86, 92.9%, 57.04%) 91.9%,
      hsl(176.88, 96.24%, 57.59%) 96.3%,
      hsl(176.88, 98.34%, 57.93%) 99%,
      hsl(176.89, 99.07%, 58.04%) 100%
    );
  }

  .cube-top {
    position: absolute;
    width: 75px;
    height: 75px;
    background: hsl(330, 3.13%, 25.1%) 0%;
                        /* width 75px / 2 = 37.5px */
    -webkit-transform: rotateX(90deg) translateZ(37.5px);
            transform: rotateX(90deg) translateZ(37.5px);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }

  .cube-top::before {
    content: '';
    position: absolute;
  /* u can choose any size */
    width: 75px;
    height: 75px;
    background: hsl(176.61, 42.28%, 40.7%) 19.6%;
    -webkit-transform: translateZ(-90px);
            transform: translateZ(-90px);
    -webkit-filter: blur(10px);
            filter: blur(10px);
    -webkit-box-shadow: 0 0 10px #323232,
                0 0 20px hsl(176.61, 42.28%, 40.7%) 19.6%,
                0 0 30px #323232,
                0 0 40px hsl(176.61, 42.28%, 40.7%) 19.6%;
            box-shadow: 0 0 10px #323232,
                0 0 20px hsl(176.61, 42.28%, 40.7%) 19.6%,
                0 0 30px #323232,
                0 0 40px hsl
  }
  body{
    font-family: Helvetica, sans-serif;
    background: rgb(170,11,245);
    background: linear-gradient(90deg, rgba(170,11,245,0.2637429971988795) 43%, rgba(16,77,236,0.14049369747899154) 61%);
    padding: 72px 112px;
}

main{
    display: flex;
    justify-content: center;
}

.caja1{
display: inline-block;
justify-content: center;
flex-direction: column;
margin: 50px 100px;
width: 580px;
}

.imgF{
    padding: 15px 0 16px;

    width: 300px;
    margin: -28px;
    align-content: center;
}

.subtitulo{
    padding-top: 10px;
    font-size: 25px;
    font-weight: normal;
    line-height: 32px;
    text-align:start;
}

.caja2{
    display: inline-block;
    vertical-align: top;
}

.form{
    display: inline-block;
    text-align: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin: 40px 0 0px;
    padding: 20px 0 28px;
    width: 396px;
}

input{
    margin-bottom: 8px;
    border-radius: 6px;
    width: 321px;
    height: 34px;
    border: 1px solid #dddfe2;
    font-size: 17px;
    padding: 14px 16px;
    align-items: center;
}

.btn1{
    background-color: #AA0BF5 ;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 38px;
    padding: 0 16px;
    width: 330px;
    color: #fff;
    font-size: 13px;
    margin-bottom: 8px;
}

.btn3{

background-color: #d1d6df;
border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 38px;
    padding: 0 16px;
    width: 330px;
    color: #090909;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 8px;
}

.btn2{
    border: none;
    background-color: #ab0bf583;
    line-height: 38px;
    border-radius: 6px;
    padding: 0 16px;
    width: 330px;
    color: #ffffff;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 8px;
}



.url1{
    color: #111214;
    font-size: 10px;
    font-weight: 500;
    text-decoration: none;
}

.line{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dadde1;
    margin: 20px 16px;
    text-align: center;
}



.texto3{
    display:flex;
    justify-content: center;
    border-top: none;
    color: #1c1e21;
    font-size: 14px;
    font-weight: normal;
    padding-top: 0;
}

.negrilla{
    color: #1c1e21;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}
