<main>
    <div class="caja">
        <div class="caja2">
            <h1 class="registro">Regístrate</h1>

            <div class="container mt-5">
                <h2>Formulario de Registro</h2>
                <form>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Nombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="apellidos" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="apellidos" placeholder="Apellidos" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo electrónico</label>
                        <input type="email" class="form-control" id="email" placeholder="Correo electrónico" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">clave</label>
                        <input type="password" class="form-control" id="password" placeholder="clave" required>
                    </div>
                    <div class="mb-3">
                        <label for="fechaNacimiento" class="form-label">Fecha de nacimiento</label>
                        <input type="date" class="form-control" id="fechaNacimiento" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Registrarse</button>
                </form>
            </div>
        </div>
    </div>
</main>
