article {
    height: 130vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #eeaeca;
    background: radial-gradient(circle, rgba(238,174,202,0.5439425770308124) 0%, rgba(148,187,233,0.4318977591036415) 100%);

}

.caja {

    margin-top: 45px;
    margin-bottom: 80px;
    border: 1px solid #bcbcbc;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px;
    background-color: #8d88b7d2;
    width: 493px;
    height: 610px;
    padding-right: 30px;
    padding-left:15px;
    padding-bottom: 44px;
    border-radius: 10px;

}


.boton-user{
    display: flex;
    justify-content: space-evenly;
        border-bottom: #fff6f6;
        border-radius: 5px;
        border: 1px solid #e6d9d9;
        box-shadow: rgba(255, 253, 253, 0.2);
        height:30px;
        width :444px;
    }


.adm{
color:#7a7676;
}

.cash{
    color:#7a7676;
}




.bkgt2{
  background: #acb6e5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.tc{
  background: #acb6e5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.placeholder input{
border:none;
border-bottom: 1px solid rgb(24, 25, 26);
background-color: solid hsl(40, 100%, 97%);
border-top-right-radius: 0px;

padding:10px;
width: 317px;


}


.cube-span{

    justify-content: center;
    padding-right: 10px;

}


.linea{
display:flex;
justify-content: center;
width: 442px;
background:#1d1a1a;
margin-bottom: 20px;
margin-top: 20px;
height: 1px;
}


.linea2{
    display:flex;
    justify-content: center;
    width: 442px;
    background:#161515;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 0.5px;
    }





.nombres {

    height: 35px;
    margin-bottom: 15px;

}

.correo{

    width: 442px;

}




.fecha{
height: 50px;
width: 410px;
margin-bottom:20px ;
font-size: medium;
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
border-radius: 10px;
border-color: #8d1010;

}



.place1::placeholder{
color: rgb(136, 137, 144);

}

.botonf{

    width: 100px;
background-color: rgb(254, 255, 254);
border-radius: 5px;
animation:heartBeat;
animation-duration:10s;
animation-delay: 3ms;

border-color:#c0bbbbbc;
border-bottom-style:solid;
background: rgb(170,11,245);
    background: linear-gradient(90deg, rgba(170,11,245,0.2637429971988795) 43%, rgba(16,77,236,0.14049369747899154)61%);

}
.clave{
margin-top: 10px;
width:auto;
}



.background{

    background: #FC5C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}



.cube-loader {
    position: relative;
  /* u can choose any size */
    width: 75px;
    height: 75px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform: rotateX(-30deg);
            transform: rotateX(-30deg);
    -webkit-animation: animate 4s linear infinite;
            animation: animate 4s linear infinite;
}

@-webkit-keyframes animate {
    0% {
    -webkit-transform: rotateX(-30deg) rotateY(0);
            transform: rotateX(-30deg) rotateY(0);
    }

    100% {
    -webkit-transform: rotateX(-30deg) rotateY(360deg);
            transform: rotateX(-30deg) rotateY(360deg);
    }
}

@keyframes animate {
    0% {
    -webkit-transform: rotateX(-30deg) rotateY(0);
            transform: rotateX(-30deg) rotateY(0);
    }

    100% {
    -webkit-transform: rotateX(-30deg) rotateY(360deg);
            transform: rotateX(-30deg) rotateY(360deg);
    }
}


