<nav class="navbar" style="background-color: #2e017c">
    <div class="d-flex">
        <a class="navbar-brand ms-3 text-white" href="#">
            <img src="img/LOGO STADISTIC.png" alt="Logo" width="40" class="align-items-center me-1"/>
            Statistic Business
        </a>
        <ul class="nav nav-underline align-items-center ms-5">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-bars me-1"></i> Dashboard
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" routerLink="/crear-producto">Añadir productos</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/inventario">Inventario</a>
                    </li>
                    <li><a class="dropdown-item" href="#">Clientes</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white fw-lighter" aria-current="page" routerLink="/ventas">
                    <i class="fa-solid fa-cash-register me-1"></i>Vender
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white fw-lighter" routerLink="/">
                    <i class="fa-solid fa-clipboard-list me-1"></i>Pedidos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white fw-lighter me-3" routerLink="/estadisticas">
                    <i class="fa-solid fa-chart-line me-1"></i>Estadísticas
                </a>
            </li>
            <div class="col-auto ms-2 me-5">
                <div class="input-group">
                    <div class="input-group-text btn" style="background-color: #dcdcdc">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <input type="search" class="form-control" id="autoSizingInputGroup" placeholder="buscar"/>
                </div>
            </div>
        </ul>
        <div class="ayuda">
            <ul class="nav nav-underline align-items-center ms-5">
                <li class="nav-item">
                    <a class="nav-link text-white fw-lighter" href="">
                        <i class="fa-regular fa-circle-question me-1"></i>Ayuda
                    </a>
                </li>
                <li class="nav-item ayuda">
                    <a class="nav-link text-white fw-lighter" href="">
                        <i class="fa-solid fa-gear me-1"></i>Configuración
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
