<section class=" ">
    <div class="d-flex justify-content-around mt-4">
        <div class="card" style="width: 18rem">
            <canvas id="myChart2"></canvas>
            <div class="card-body">
                <p class="card-text fs-4 fw-bolder">HOY</p>
            </div>
        </div>
        <div class="card" style="width: 18rem">
            <canvas id="myChart3"></canvas>
            <div class="card-body">
                <p class="card-text fs-4 fw-bolder">SEMANA</p>
            </div>
        </div>
        <div class="card" style="width: 18rem">
            <canvas id="myChart4"></canvas>
            <div class="card-body">
                <p class="card-text fs-4 fw-bolder">MES</p>
            </div>
        </div>
        <div class="card" style="width: 18rem">
            <canvas id="myChart5"></canvas>
            <div class="card-body">
                <p class="card-text fs-4 fw-bolder">AÑO</p>
            </div>
        </div>
    </div>
    <div class="d-flex mt-3 justify-content-center">
        <div class="card" style="width: 40rem">
            <canvas id="myChart"></canvas>
            <div class="card-body">
                <p class="card-text fs-5 fw-bolder">VENTAS DIARIAS</p>
            </div>
        </div>
        <div class="card ms-5" style="width: 40rem">
            <canvas id="myChart6"></canvas>
            <div class="card-body">
                <p class="card-text fs-5 fw-bolder">VENTAS POR HORA</p>
            </div>
        </div>
    </div>
</section>
