.barra-pedidos {
    width: auto !important;
    height: auto !important;
    margin-top: 0px !important;
    border: none;
}


.caja {
    height: 150px !important;
}

.caja-precios {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.caja-estadisticas {
    margin-top: 30%;
}

.caja-resumen-dia {
    height: 220px !important;
}

.grafico-dona {
    width: 200px !important;
    height: 200px !important;
    margin-left: 60px;
}

.estadisticas {
    padding: 20px;
}


